body {
  background-color: #6050DC;
}
h2{
 color: mustard;
  font-size: 32px;
  text-decoration-line: overline underline;
  text-decoration-style: dashed;
  text-decoration-color: brown;
  letter-spacing: 7px;
  word-spacing: -2px;
  text-shadow: 2px 2px 5px white;
  font-variant:
}
img{
  width:15%;
  border-radius:130%;
}
ul{
  list-style-type: none;
  background-color: #000080;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  padding: 10px;
  opacity: .6;
  margin: 0;
}
li a:hover{
  display: inline;
  padding: 10px 10px;
}
a:hover{
  text-decoration: none;
  color: salmon;
  font-var
}
h3{
  color: purple;
}
